*{
  margin: 0;
  padding: 0;

}

html{
  background-image: url(pk.png);
 }
/* Navigation bar styling */
.container{
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
  background-position: center;
  width: 100%;
  height : 100vh;
}

.navbar{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 10px;
backdrop-filter: blur(150px);
box-shadow: 0 0px 30px 0px rgba(0,0,0,0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo{
  width: 200px;
  height: 90px;
  cursor: pointer;
}

ul{
  padding: 0;
  margin: 15px;
  display: flex;
}

ul li{
  list-style: none;
}

ul li a{
  text-decoration: none;
  color: grey;
  font-size: 20px;
  display: block;
  padding: 17px 13px;
  position: relative;

}

ul li a:before{
  content : '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: grey;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}

ul li a:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: grey;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}

ul li a:hover:before, ul li a:hover:after{
  transform: scaleX(1);
}


.container {
}

.btn{
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: 25px 75px;
  margin: 20px;
}

.btn a {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 350;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  backdrop-filter: blur(15px)
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background:
    linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all .5s ease-out;
}

.btn:hover a::before {
  transform: skewX(40deg) translateX(200%);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: all .4s ease-in-out;
  transition-delay: 0s;
}

.btn::before {
  bottom: -5px;
}

.btn::after {
  top: -5px;
}

.btn:hover::before,
.btn:hover::after{
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: .3s;
}

.btn:hover::before {
  bottom: 0;
}

.btn:hover::after {
  top: 0;
}

.btn:nth-child(1)::before,
.btn:nth-child(1)::after {
  background: #ff7979;
  box-shadow:
    0 0 5px #ff7979,
    0 0 15px #ff7979,
    0 0 30px #ff7979,
    0 0 60px #ff7979
}


.container .img{
  height: 300px;
  width:  150px;
}
/* End of navigation bar styling */









/* Home page main content styling*/
.home-page-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 70vh;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(150px);
  box-shadow: 0 0px 30px 0px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }

}

.flexbox-container{
}

.flex-item-1 img{
  width: 450px;
  height: 350px;
  padding-top: 25px;
  margin: 55px;
  opacity: 0.8;
}

.flex-item-2{
  width: 500px;
  height: 350px;
  margin: 30px;
  position: 50%;
  margin-right: 30px;
}


.flex-item-2 h1{
  text-align: center;
  font-size: 40px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #232d;
  }

.flex-item-2 p{
      line-height: 1.5;
      text-align: center;
      font-size: 20px;
      color: #686868;
}
/* end of Home page content */











/* Collection section*/
.love{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(150px);
  box-shadow: 0 0px 30px 0px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }

.love .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: none;
  border: white;
  backdrop-effect: blur(15px);
  border-radius: 20px;
  overflow: hidden;
}

.love .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.love .card:hover:before{
  clip-path: circle(300px at 80% -20%);/
}



.love .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.love .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);

}

.love .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.love .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.love .card:hover .contentBx{
  height: 210px;
}

.love .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.love .card .contentBx .size, .love .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.love .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.love .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.love .card .contentBx .size h3, .love .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.love .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.love .card .contentBx .size span:hover{
  background: #9bdc28;
}

.love .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.love .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.love .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.love .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.love .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.love .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}

/*end of Collection*/







/* Contact us Section sytyling>*/

.form{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
height: 70vh;
margin-top: 50px;
padding-top: 15px;
padding-bottom: 15px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 10px;
backdrop-filter: blur(150px);
box-shadow: 0 0px 30px 0px rgba(0,0,0,0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.row h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 60px;
    color: black;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

              /* ///// inputs /////*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: black;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 708px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: grey;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: White;
    color: Black;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 8em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}



input[type=checkbox] + label {
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: black;
  font-style: normal;
}
/* End of Contact us Section sytyling*/








/* Our Work Styling*/
.gallery-image {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 150px;
  width: 250px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 150px;
  width: 250px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 150px;
  width: 250px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.5em;
}

.opacity-low {
  opacity: 0.5;
}
/* end of Our Work sytyling>*/
